body, html {
    height: 100%;
}

.completo{
    background: darkgray;
}

.columna-juego{
    border: 1px solid black;
}

.fila-juego {
    height: 25vh;
}

.cuadro {
    opacity: 0;
    transition: opacity ease 0.2s;
    border: 1px solid black;
    cursor: pointer;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.azul{
    background-color: blue;
}

.naranja{
    background-color: orange;
}

.violeta{
    background-color: blueviolet;
}

#fin-juego{
    display: none;
}